body {
  background-color: #ffffff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents {
  flex: 0 0 auto;
  text-align: right;
  margin-right: 40px;
}

h1 {
  font-size: 3rem;
  color: #333;
}

p {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 2rem;
}

form {
  display: flex;
  justify-content: center;
}

input[type="email"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px 0 0 3px;
}

button[type="submit"] {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
.logo-container {
  flex: auto;
  margin-left: 5px;
}
.logo {
  max-width: 70%;
  max-height: 70%;
}
.content {
  flex: 0 0 auto;
  text-align: right;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 10;
  background-color: #f0f0f0;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1675px;
  position: absolute;
  margin: 0 auto;
  overflow: hidden;
}

.image-container img {
  width: 450px;
  height: 780px;
  object-fit: cover;
  margin: 0;
  transition: opacity 0.5s, filter 0.5s;
}

.image-container img.active-image {
  filter: blur(3px);
  transform: scalex(2);
  filter: brightness(0.3);
}
.image-container img {
  transition: all 0.3s ease;
}
.image-container img:not(.active-image) {
  filter: none;
  transform: none;
}

.image-container .image-text1,
.image-text2,
.image-text3,
.image-text4 {
  position: absolute;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 24px;
  font-weight: bold;
  display: none;
  z-index: 101;
  width: 10;
  text-align: center;
}

.image-text1 {
  bottom: 50%;
  left: 13%;
}

.image-text2 {
  bottom: 50%;
  left: 38%;
}

.image-text3 {
  bottom: 50%;
  left: 63%;
}

.image-text4 {
  bottom: 50%;
  left: 87%;
}

.image-container img.active-image + .image-text1 {
  display: block;
}

.image-container img.active-image + .image-text2 {
  display: block;
}

.image-container img.active-image + .image-text3 {
  display: block;
}

.image-container img.active-image + .image-text4 {
  display: block;
}

@media screen and (max-width: 1200px) {
  .image-container {
    max-width: 1000px;
  }

  .image-container img {
    width: 245px;
    height: 1650px;
  }
  section {
    height: 76vh;
  }
  .image-container {
    display: flex;
    overflow: hidden;
  }
  .image-container img {
    transition: all 0.3s ease;
  }

  .image-container img.active-image {
    filter: blur(4px);
    transform: scaleX(2.2);
    z-index: 100;
    filter: brightness(0.3);
  }
  .image-container img:not(.active-image) {
    filter: none;
    transform: none;
    flex: 100px; /* Reduces the size of the inactive images */
  }
}

@media screen and (max-width: 768px) {
  .image-container {
    max-width: 768px;
  }

  .image-container img {
    width: 245px;
    height: 1050px;
  }
  .image-text1,
  .image-text2,
  .image-text3,
  .image-text4 {
    display: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    text-align: center;
  }
}
