/* main/static/css/style.css */
body {
    background-color: #ffffff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: #333;
}

p {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 2rem;
}

form {
    display: flex;
    justify-content: center;
}

input[type="email"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
}

button[type="submit"] {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}
.logo-container {
    width: 100%;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.logo {
    max-width: 100%;
    max-height: 100%;
}
    