/* main/static/css/style.css */
body {
  background-color: #ffffff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents {
  flex: 0 0 auto;
  text-align: right;
  margin-right: 40px;
}

h1 {
  font-size: 3rem;
  color: #333;
}

p {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 2rem;
}

form {
  display: flex;
  justify-content: center;
}

input[type="email"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px 0 0 3px;
}

button[type="submit"] {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
.logo-container {
  flex: auto;
  margin-left: 5px;
}
.logo {
  max-width: 70%;
  max-height: 70%;
}
.content {
  flex: 0 0 auto;
  text-align: right;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 10;
  background-color: #f0f0f0;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1650px; /* Change this value to make the container wider */
  position: absolute; /* Set to relative to allow absolute positioning of the text */
  margin: 0 auto;
}

.image-container img {
  /* Adjustments to make images wider and larger */
  width: 450px;
  height: 780px;
  object-fit: cover;
  margin: 0;
  transition: opacity 0.5s, filter 0.5s;
}

.image-container img.active-image {
  filter: blur(4px); /* Applies a blur effect to the active image */
  transform: scale(1.1); /* Increase the size of the active image */
  z-index: 100;
  /* Make the active image wider than the other images */
}

.image-container .image-text1,
.image-text2,
.image-text3,
.image-text4 {
  position: absolute; /* Absolute position to overlay the text on the image */
  transform: translate(-50%, -50%);
  color: red;
  font-size: 24px;
  font-weight: bold;
  display: none; /* Hide the text by default */
  z-index: 101; /* Position the text above the image */
  width: 10; /* Set the width to 100% to ensure text width matches the image width */
  text-align: center; /* Center the text horizontally */
}

.image-text1 {
  bottom: 50%;
  left: 13%;
}

.image-text2 {
  bottom: 50%;
  left: 38%;
}

.image-text3 {
  bottom: 50%;
  left: 63%;
}

.image-text4 {
  bottom: 50%;
  left: 87%;
}

.image-container img.active-image + .image-text1 {
  display: block; /* Show the text when the image has the "active-image" class (i.e., is blurred) */
}

.image-container img.active-image + .image-text2 {
  display: block; /* Show the text when the image has the "active-image" class (i.e., is blurred) */
}

.image-container img.active-image + .image-text3 {
  display: block; /* Show the text when the image has the "active-image" class (i.e., is blurred) */
}

.image-container img.active-image + .image-text4 {
  display: block; /* Show the text when the image has the "active-image" class (i.e., is blurred) */
}

@media screen and (max-width: 1200px) {
  .image-container {
    max-width: 1000px; /* Adjust the container width for screens up to 1200px */
  }

  .image-container img {
    width: 350px; /* Adjust the image width for screens up to 1200px */
    height: 600px; /* Adjust the image height for screens up to 1200px */
  }
}

@media screen and (max-width: 768px) {
  .image-container {
    max-width: 700px; /* Adjust the container width for screens up to 768px */
  }

  .image-container img {
    width: 250px; /* Adjust the image width for screens up to 768px */
    height: 450px; /* Adjust the image height for screens up to 768px */
  }

  /* You can add more specific adjustments or hide the overlay text at smaller screen sizes if needed */
  .image-text1,
  .image-text2,
  .image-text3,
  .image-text4 {
    display: none;
  }
}
