{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Keyvan Safe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>

<!-- <div class="logo-container">
    <img src="{% static 'images/logo.jpg' %}" alt="Logo" class="logo">
</div> -->
<!-- <div class="content">
    <h1 class="display-4">Keyvan Safe</h1>
    <p class="display-6">Professional PPE Provider</p>
</div> -->