{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Keyvan Safe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="logo-container">
          <img src="{% static 'images/logo.jpg' %}" alt="Logo" class="logo">
        </div>
        <div class="contents">
          <h1 class="display-4">.منتظرمان باشید</h1>
          <p></p>
          <p class="lead">!در حال طراحی جامع ترین سایت تجهیزات ایمنی هستیم</p>
          <p class="lead">شگفت زده خواهید شد</p>
        </div>
    </div>
    
        <hr>
        <section>
            <div class="image-container">
                <img src="{% static 'images/clothes.png'%}" alt="Image 1" class="active-image" />
                <div class="image-text image-text1">Image 1.</div>
        
                <img src="{% static 'images/firefighter.png' %}" alt="Image 2" />
                <div class="image-text image-text2">Image 2.</div>
        
                <img
                src="{% static 'images/hat.png' %}"
                alt="Image 3"
                />
                <div class="image-text image-text3">Image 3.</div>
        
                <img src="{% static 'images/Rectangle.png' %}" alt="Image 4" />
                <div class="image-text image-text4">Image 4.</div>
            </div>
        </section>
      
          <script>
            let currentImageIndex = 0;
            const images = document.querySelectorAll(".image-container img");
            const imageTexts = document.querySelectorAll(".image-text");

            function showNextImage() {
            images[currentImageIndex].classList.remove("active-image");
            imageTexts[currentImageIndex].classList.remove("active-text");

            currentImageIndex = (currentImageIndex + 1) % images.length;

            images[currentImageIndex].classList.add("active-image");
            imageTexts[currentImageIndex].classList.add("active-text");

            images.forEach((image, index) => {
                if (index === currentImageIndex) {
                image.classList.add("active-image");
                image.classList.remove("inactive-image");
                } else {
                image.classList.add("inactive-image");
                image.classList.remove("active-image");
                }
            });
            }

            function startSlideshow() {
            showNextImage();
            setTimeout(startSlideshow, 3000);
            }

            startSlideshow();


            
          </script>
        {% block content %} {% endblock %}
        
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>

<!-- <div class="logo-container">
    <img src="{% static 'images/logo.jpg' %}" alt="Logo" class="logo">
</div> -->
<!-- <div class="content">
    <h1 class="display-4">Keyvan Safe</h1>
    <p class="display-6">Professional PPE Provider</p>
</div> -->