{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Keyvan Safe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="text-center">
        <div class="logo-container">
            <img src="{% static 'images/logo.jpg' %}" alt="Logo" class="logo">
        </div>
    </div>
    
        <hr>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
